{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
  </head>
  <body>
    <h1>Quadratics</h1>
    <p>In this section I will provide examples to exemplify the definition and leverage your problem-solving skills.</p>
    <p>Solve for x</p>
    <img src="{% static 'quadratic/quadratic_radical.png' %}">
    <p>To get rid of the radical square the whole expression</p>
    <img src="{% static 'quadratic/quadratic_radical1.png' %}">
    <p>Squares cancel when square</p>
    <img src="{% static 'quadratic/quadratic_radical2.png' %}">
    <p>Isolate x</p>
    <img src="{% static 'quadratic/quadratic_radical3.png' %}">
    <p>Simplifying</p>
    <img src="{% static 'quadratic/quadratic_radical4.png' %}">
    <p>Dividing by 5</p>
    <img src="{% static 'quadratic/quadratic_radical5.png' %}">
  </body>
  <h2>Quadratics using exponents</h2>
  <div>
    <img src="{% static 'quadratic/exponent_quadratic.png' %}">
    <p>Apply the cubic root to cancel the exponent</p>
    <img src="{% static 'quadratic/exponent_quadratic1.png' %}">
    <p>Simplify the coefficient inside the square root.</p>
    <img src="{% static 'quadratic/exponent_quadratic2.png' %}">
  </div>
  <div>
    <h2>Quadratic Formula</h2>
    <img src="{% static 'quadratic/quadratic_formula.png' %}">
    <p>Solve the following problem by using the quadratic formula</p>
    <img src="{% static 'quadratic/quadratic_formula1.png' %}">
    <p>In this example, a is the number next to x^2, b is the number in the term with x, c is the number without any variable.</p>
    <img src="{% static 'quadratic/quadratic_solution.png' %}">
    <p>Substitute into the general quadratic formula</p>
    <img src="{% static 'quadratic/quadratic_solution1.png' %}">
    <p>Simplifying</p>
    <img src="{% static 'quadratic/quadratic_solution2.png' %}">
    <p>The ± sign means there are two solutions.</p>
    <img src="{% static 'quadratic/solution.png' %}">
  </div>
</html>