{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'styling/linear.css' %}" >
  </head>
  <body>
    <header>
      <h1 class="classes">Radical</h1>
      <a href="{% url 'ma025' %}" class="link">Go Back</a>
    </header> 
    <div class="section">
      <div class="one">
        <h2>Radical Rules</h2>
        <img src="{% static 'radical/radical_rule.png' %}" class="image_one" alt="table with radical rules">
        <p>I chose this image because has examples you can guide for each rule.</p>
        <p>There is a short way to solve radicals quicker and more efficiently which I have excluded in this class and discuss more in detail in a live session. </p>
      </div>
      <div>
        <h2>Addition/Subtraction of radical</h2>
        <img src="{% static 'radical/radical_sum.png' %}" alt="sum and subtraction of radicals">
        <img src="{% static 'radical/radical_sum1.png' %}" alt="expression simplified and solved using radicals">
        <p>The way to make is by simplifying the numbers inside the radicals, then add/subtract with the reduced form.</p>
      </div>
      <div>
        <h2>Multiplication/Division of radicals</h2>
        <img src="{% static 'radical/multiply_radical.png' %}" alt="multiplication of radicals">
        <p>Distributive property</p>
        <img src="{% static 'radical/multiply_radical1.png' %}" alt="Distributive Property with radicals">
        <p>Simplifying</p>
        <img src="{% static 'radical/multiply_radical2.png' %}" alt="simplifying expression with addition and subtraction of radicalsa">
      </div>
      <div>
        <h2>Rationalize Rational Expressions</h2>
        <p>The reason to rationalize is to exclude radicals in the denominator.</p>
        <img src="{% static 'radical/rationalize.png' %}" alt="expression with radical on denominator">
        <p>To rationalize, we get rid of the denominator by multiplying the same term in the denominator and numerator</p>
        <img src="{% static 'radical/rationalize1.png' %}" alt="expression multiplied with denominator term on numerator and denominator to rationalize it">
        <p>Solving and simplifying</p>
        <img src="{% static 'radical/rationalize2.png' %}" alt="expression solved using radicals">
      </div>
    </div>
  </body>
</html> 