{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
  </head>
  <body>
    <h1>Radical</h1>
    <div>
      <h2>Radical Rules</h2>
      <img src="{% static 'radical/radical_rule.png' %}">
      <p>I chose this image because has examples you can guide for each rule.</p>
      <p>There is a short way to solve radicals quicker and more efficiently which I have excluded in this class and discuss more in detail in a live session. </p>
    </div>
    <div>
      <h2>Addition/Subtraction of radical</h2>
      <img src="{% static 'radical/radical_sum.png' %}">
      <img src="{% static 'radical/radical_sum1.png' %}">
      <p>The way to make is by simplifying the numbers inside the radicals, then add/subtract with the reduced form.</p>
    </div>
    <div>
      <h2>Multiplication/Division of radicals</h2>
      <img src="{% static 'radical/multiply_radical.png' %}">
      <p>Distributive property</p>
      <img src="{% static 'radical/multiply_radical1.png' %}">
      <p>Simplifying</p>
      <img src="{% static 'radical/multiply_radical2.png' %}">
    </div>
    <div>
      <h2>Rationalize Rational Expressions</h2>
      <p>The reason to rationalize is to exclude radicals in the denominator.</p>
      <img src="{% static 'radical/rationalize.png' %}">
      <p>To rationalize, we get rid of the denominator by multiplying the same term in the denominator and numerator</p>
      <img src="{% static 'radical/rationalize1.png' %}">
      <p>Solving and simplifying</p>
      <img src="{% static 'radical/rationalize2.png' %}">
    </div>
  </body>
</html> 