{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
  </head>
  <body>
    <h1>Equations</h1>
    <p>Hi, in this page we are going to learn how to solve equations in a simple way. The knowledge you bring to this topic:</p>
    <ul>
      <li>Opposite signs (E.g. + opposite of -, x opposite of /)</li>
      <li>Know how add, subtract, multiply, divide numbers</li>
      <li>That is all</li>
    </ul>
    <p>If you have this knowledge, you will do wonderful.</p>
    <p>Examples</p>
    <img src="{% static 'equations/equation.png' %}">
    <p>What is this?. Ok. Let's calm down and breathe. Whenever you are ready, continue to next step. First let's understand this. The letters now will be called variables. A variable is a number that can take multiple values. However, when dealing with this situations like this, the variable can only have 1 answer. Our job is to find that answer.</p>
    <p>In situations like this, we place the x (or variable) in either side of the = sign. The x is places in the left-side of the equation. Perfect. </p>
    <img src="{% static 'equations/equation1.png' %}">
    <p>Now, isolate x. To make it happen, place the numbers itself to the opposite side of the =. In my example, -3 is the number that I dont want because is in the same side that x. </p>
    <img src="{% static 'equations/equation2.png' %}">
    <p>How do we transfer the -3 to the other side. Simple, remember the rule of opposite signs. If you do, you are great. Ok, if you see the sign with the number is -. This means if we want to transfer sides lets transfer with the opposite side. The opposite of - is +.</p>
    <img src="{% static 'equations/equation3.png' %}">
    <p>And we solve it, this gives us 7</p>
    <img src="{% static 'equations/equation4.png' %}">
    <p>Yay. We made it, the final answer is 7. You solved your first equation.</p>
    <p>Remember: Practice similar questions so you can master all this content in this page. Now it is your turn to practice with examples involving multiplication and division. Good luck with your learning journey.</p>
  </body>
</html>