{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the signed Numbers section</h1>
    <p>Hi, now we will be talking about signed numbers. A signed number are whole numbers, rational numbers, fractions, decimals but with a sign on it. For example, -5.6, -0.666, +12, etc. To make a better representation between whole numbers and signed numbers.</p>
    <div>
      <p>This is the whole number straight line</p>
      <img src="{% static 'signed_numbers/positive_number.png' %}">
    </div>
    <div>
      <p>This is the signed number line representation</p>
      <img src="{% static 'signed_numbers/straight_line.png' %}">
    </div>
    <p>As you can see, the only difference between them is the -sign. We can start making operations between them. Lets start.</p>
    <h3>Add and subtract signed numbers</h3>
    <img src="{% static 'signed_numbers/add_subtract_rule.png' %}">
    <p>Example</p>
    <img src="{% static 'signed_numbers/signed_number1.png' %}">
    <img src="{% static 'signed_numbers/signed_number2.png' %}">
    <img src="{% static 'signed_numbers/signed_number3.png' %}">
    <img src="{% static 'signed_numbers/signed_number4.png' %}">
    <p>We all know the answer of this is 2. But wait a moment, there is no sign on it. The reason for this is that even if you have a positive sign, means the same as if it does not have it. So we all good now. To get a better understanding, practice examples so you can catch up with this content.</p>
    <h3>Multiply and divide signed numbers</h3>
    <img src="{% static 'signed_numbers/multiply_divide_signed.png' %}">
    <p>Example</p>
    <img src="{% static 'signed_numbers/multiply_signed.png' %}">
    <img src="{% static 'signed_numbers/multiply_signed1.png' %}">
    <img src="{% static 'signed_numbers/multiply_signed2.png' %}">
    <p>By following this procedure, you can notice that the yello curve line multiply the signs of both numbers and the blue line multiply the numbers by separate. We end up with an incredible negative answer of 15.3. Wonderful!!!</p>
    <h2>Combining terms</h2>
    <p>To combine terms have some strict rules when refering to add/subtract and multiply/divide</p>
    <p>Anything that you see together, it could be letters, numbers, exponents, are called terms. Those are some general rules when making operations with numbers and letters together</p>
    <h3>Add/Subtract</h3>
    <p>I will not write many information as many books, lets go straight to the examples</p>
    <div>
      <img src="{% static 'signed_numbers/combining terms.png' %}">
      <p>Here you can see there are 4 terms, dont panic. In this situation the way to solve is to add or subtract those letter that are the same. If you notice it, there are two letter that are the same.</p>
      <img src="{% static 'signed_numbers/combining terms1.png' %}">
      <p>Those two numbers are the same. Great!. Now what?. We just add the numbers next to it and conserver the same letter.</p>
      <img src="{% static 'signed_numbers/combining terms2.png' %}">
      <p>Excellent!!!. You simplified your first equation. This is now the final answer</p>
    </div>
    <h3>Multiply / Divide</h3>
    <div>
      <p>When multiplying terms with letters, there are some rules we have to apply. </p>
      <img src="{% static 'signed_numbers/exponents_rule.png' %}">
      <p>To simplify all those weird rules, means that if you multiply the same letters, their exponents or the small number on the right top of the letter are added. Let's see what I mean in the next example.</p>
      <img src="{% static 'signed_numbers/multiply_signed_terms.png' %}">
      <img src="{% static 'signed_numbers/multiply_signed_terms1.png' %}">
      <img src="{% static 'signed_numbers/multiply_signed_terms2.png' %}">
      <p>This is more clear than water, if in one side there only one unique letter, just add it at the answer, if letters like x are in both sides add their exponents. If there are no exponents, the default number is 1</p>
      <img src="{% static 'signed_numbers/terms_exponents.png' %}">
      <img src="{% static 'signed_numbers/terms_exponents1.png' %}">
    </div>
    <p>If you dont understant anything, please review again this information and practice on your own. This is the best way to learn something new. Please reach out to me if you have any questions.</p>
  </body>
</html>