{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <style>
      .text_whole_number{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .images_whole_number{
        display: flex;
        flex-direction: row;
      }

    </style>
  </head>
  <body>
    <h1>Whole Numbers</h1>
    <div class="text_whole_number">
      <div>
        <p>A whole number is an integer such a 0,1,2,3,4,5...</p>
        <p>We can operate between whole numbers, some of the most commons operatiosn are the sum, subtraction, multiplication, and division.</p>
      </div>
      </div>
      <div class="images_whole_number">
        <img class="whole_number_image" src="{% static 'app/images_whole_number/whole_number.png' %}" alt="whole number">
        <img class="whole_number_image" src="{% static 'app/images_whole_number/not_whole_number.png' %}" alt="decimal number">
      </div>
      <div>
        <h3>Addition and subtraction of whole numbers</h3>
        <p>Addition is the most basic operation of all. We just join two quantities and find the total number. Example: </p>
        <div>
          <img src="{% static 'app/images_whole_number/sum_whole_number.png' %}" alt="addition">
          <img src="{% static 'app/images_whole_number/nine_squares.png' %}" alt="answer addition">
        </div>
        <div>
          <p>Subtraction is the opposite of sum. Insted of joining numbers, subtraction is about to finding the difference between a number and other.</p>
          <img src="{% static 'app/images_whole_number/subtract_whole_number.png' %}" alt="subtraction">
          <p>In this situation, there are initial 12 circles, then the - means to subtract or take off the number of squares from 12. We operate 12 - 6 = 6. The answer is 6. There reason is because between 12 and 6 there are 6 units of difference. </p>
        </div>
    </div>
    <h1>Fractions</h1>
    <div>
      <p>Fraction are used to represent a part of a whole. Until now, we acknowledge the concept of integer, suppose I want to know what portion will have each person from an entire pizza if there are 8 people?</p>
      <img src="{% static 'app/images_whole_number/seven_people.png' %}" alt="people">
      <img src="{% static 'app/images_whole_number/pizza.png' %}" alt="pizza">
      <img src="{% static 'app/images_whole_number/pizza_cut.png' %}" alt="pizza cut" >
      <p><strong>Did you notice it?</strong></p>
      <p>The pizza was cut in 8 different parts, and one slice corresponds to each equivalently. The way to solve this in mathematics is simple, a fraction takes two parameters: numerator and denominator. In this case, the numerator corresponds to the number of slices that each person will take, the denominator corresponds to the number of slices in the pizza. Using this example, one person receives 1 slice out of 8 slices. So the fraction resultant is: </p>
      <img src="{% static 'app/images_whole_number/fraction_pizza.png'%}" alt="fraction Pizza">
      <div>
        1 is the numerator and 8 the denominator.
      </div>
      <h3>Sum and subtraction of fractions</h3>
      <p>As the same with whole number, we can make operations with fractions, the process is likely to be confusing at the moment, but with this technique you will make any addition and subtraction of fractions.</p>
      <p>Example: Suppose I would like to add 3/4 + 1/2. The method I personally use it the following</p>
      <div>
        <img src="{% static 'app/images_whole_number/add_fractions.png' %}" alt="two fractions">
        <img src="{% static 'app/images_whole_number/step_1_sum_fraction.png' %}" alt="step1">
        <img src="{% static 'app/images_whole_number/step2_sum_fraction.png' %}" alt="step2">
        <img src="{% static 'app/images_whole_number/step3_sum_fraction.png' %}" alt="step3">
        <img src="{% static 'app/images_whole_number/step4_sum_fraction.png' %}" alt="step4">
        <p>The same happens with a subtraction. The only difference is the sign and that all.</p>
        <img src="{% static 'app/images_whole_number/subtraction_fraction.png' %}" alt="subtraction">
        <p>Easy right? If you have any questions / problems, please schedule a session and we can discuss more about any problem.</p>
      </div>
    </div>
    <h3>Multiplication and division of fractions</h3>
    <p>Multiplying and dividing fractions are easy to solve. Just follow the next steps and within a fwe minutes you will be solving problems like a pro.</p>
    <p>Suppose I multiply 1/5 times 5/6 and I want to divide 1/3 between 3/4. Lets see what the steps are</p>
    <div>
      <div class="left-side">
        <p>Multiplication</p>
        <img src="{% static 'fractions/multiplication_fraction.png' %}" alt="multiplication">
        <img src="{% static 'fractions/step1_multiplication_fraction.png' %}" alt="step1">
        <img src="{% static 'fractions/step2_multiplication_fraction.png' %}" alt="step2">
      </div>
      <div class="right-side">
        <p>Division</p>
        <div>
          <p>Way 1</p>
          <img src="{% static 'fractions/way1_division_fraction.png' %}">
          <img src="{% static 'fractions/step1_division_fraction.png' %}">
          <img src="{% static 'fractions/step2_division_fraction.png' %}">
        </div>
        <div>
          <p>Way 2</p>
          <img src="{% static 'fractions/way2_division_fraction.png' %}">
          <img src="{% static 'fractions/step3_division_fraction.png' %}">
          <img src="{% static 'fractions/step4_division_fraction.png' %}">
        </div>
      </div>
    </div>
    <h1>Decimals</h1>
    <p>Decimals are numbers that contain a dot in between their numbers. For example, 10.67, 5.446, 0.777, etc. I am not going to explain how to operate between these numbers because those are the same as the whole numbers. Please, if you dont understand watch Youtube videos and if at the end you do not understand reach out to me through a live session.</p>
  </body>
</html>