{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'styling/derivative.css' %}" >
  </head>
  <body> 
    <header>
      <h1 class="classes">Integration</h1>
      <a href="{% url 'calculusI' %}" class="link">Go Back</a>
    </header>
    <div class="section">
      <p>In this section I will go over directly to exercises. I will skip some important topics, if you need help with any of the topics I have covered or not. Set a session live with me.</p>
      <img src="{% static 'calculus/integration/integral.png' %}" alt="Integratoin problem">
      <img src="{% static 'calculus/integration/integral1.png' %}" alt="Process of integration">
      <p>Substitution Method</p>
      <img src="{% static 'calculus/integration/substitution.png' %}" alt="Substitution example">
      <img src="{% static 'calculus/integration/substitution1.png' %}" alt="solution to substitution example">
      <h2>Trig Integrations</h2>
      <img src="{% static 'calculus/integration/trig_integration.png' %}" alt="Trig integrations table">
      <h2>Integration Rules</h2>
      <img src="{% static 'calculus/integration/definite.png' %}" alt="Formulas for integration rules">
      <h2>Trig Integrations to nth exponent</h2>
      <img src="{% static 'calculus/integration/integration_rules_trig.png' %}" alt="Integration formulas for trig with n exponents">
      <h2>Trig Substitution</h2>
      <img src="{% static 'calculus/integration/trig_subs.png' %}" alt="trig substitution table">
    </div>
  </body>
</html> 