{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'styling/view.css' %}" >
  </head>
  <body>
    <header>
      <h1 class="classes">Add a comment</h1>
      <a href="{% url 'forum:view_question' question.id %}" class="link">Go Back</a>
    </header>
    <!--namespace for url forum-->
    <div class="section">
      <form method="post" action="{% url 'forum:create_comment' question_id=question.id %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Post Comment</button>
      </form>
    </div>
  </body>
</html>