body{
    background: linear-gradient(to bottom, #006400, #98FB98);
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
 
.section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30%;
    font-size: 24px;
    height: 100vh;
}

.section strong{
    width: 50%;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 3%;
}

.link{
    text-decoration: none;
    color: #ffffff;
}

.classes{
    flex-grow: 1;
    text-align: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #006400; 
    color: #ffffff;
    font-size: 25px;
}

.section a{ 
    text-decoration: none;
    font-size: 25px;
    color: #4d068f;
}

.section a:hover{
    color: #0d24f2;
}

#text{
    margin: 1%;
}
