body{
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
    margin: 0;
}

.text_whole_number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.section{
    margin: 0 auto;
    width: 80%;
}

header{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #0dc295;
    color: #ffffff;
    font-size: 25px;
}

.link{
    text-decoration: none;
}

.subtraction{
    display: flex;
    flex-direction: column;
}


.classes{
    flex-grow: 1;
    text-align: center;
}

.text_whole_number, .images_whole_number, .left-side, .right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal{
    display: flex;
    flex-direction: column;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.images_whole_number img{
    margin-bottom: 10px;
    box-shadow: 10px 19px 10px rgba(0, 0, 0, 0.1);
}

.addition img{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 19px 10px rgba(0, 0, 0, 0.1);
}

.main-content img{
    box-shadow: 10px 19px 10px rgba(0, 0, 0, 0.1);
}

.subtraction img{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 19px 10px rgba(0, 0, 0, 0.1);
}

.cursive{
    font-family: cursive;
}

.bullets{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    list-style-type: none;
}

.bulletss{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4%;
    margin-bottom: 4%;
    list-style-type: none;
}

.bulletss li{
    text-decoration: none;
    list-style-type: none;
}


.place-image img{
    width: 40%;
}

.place-image .rock{
    width: 20%;
}

.place-image{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.link{
    text-decoration: none;
    list-style-type: none;
}

@media (max-width: 899px){
    body{
        font-size: 1.3rem;
    }
    .section{
        margin: 15px 0;
    }
}

